<h1 style="text-align:  center;">BbOffline</h1> <h2 style="text-align:  center;">A proof of concept to demonstrate 'Indexed DB Storage' and 'Service Workers'</h2>
<br><br><br>
<p style="text-align:  center;">Please click a button to proceed!!!</p>
  <div style="text-align:  center;">
    <button style="height:  50px;width:  150px; font-weight: bold;" type="button" (click)="workOnline()"> Work Online </button>
    <button style="height:  50px;width:  150px; font-weight: bold;" type="button" (click)="workOffline()"> Work Offline </button>
  </div>
